{% extends "WPExoBundle::layout_admin.html.twig" %}
{% block css %}
    <link href="{{ asset("public/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/sb-admin.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/exofex.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/adminExofex.css") }}" rel="stylesheet">
{% endblock %}
{% block title %}
    admin - {{ parent() }}
{% endblock %}
{% block content %}

    <div id="homeAdmin" class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-header">
                    Gestion de l'accueil
                    {#<small>Notifications du site</small>#}
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Gestion de l'accueil
                    </li>
                </ol>
            </div>
            <div class="col-md-8">

                <div class="row">
                    <div class="col-md-5">
                        <h4>Slogan</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formTitle1 "bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formTitle1) }}
                        {{ form(formTitle1) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <h4>Titre du 1er article</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formTitleArticle1 "bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formTitleArticle1) }}
                        {{ form(formTitleArticle1) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Description du 1er article</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formTextArticle1 "bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formTextArticle1) }}
                        {{ form(formTextArticle1) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <h4>Titre du second article</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formTitleArticle2 "bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formTitleArticle2) }}
                        {{ form(formTitleArticle2) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Description du second article</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formTextArticle2 "bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formTextArticle2) }}
                        {{ form(formTextArticle2) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Annonce de la page contact</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formTextContactMe "bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formTextContactMe) }}
                        {{ form(formTextContactMe) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Lien externe 1</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formExternalLink1"bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formExternalLink1) }}
                        {{ form(formExternalLink1) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>Lien externe 2</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formExternalLink2"bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formExternalLink2) }}
                        {{ form(formExternalLink2) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <h4>Règle du site</h4>
                    </div>
                    <div class="col-md-7">
                        {% form_theme formRules"bootstrap_3_layout.html.twig" %}
                        {{ form_errors(formRules) }}
                        {{ form(formRules) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% block js %}
        {#<script src="{{ asset ("public/js/jquery.js") }}"></script>#}
        <script src="{{ asset ("public/js/exoProfile.js") }}"></script>
    {% endblock %}

{% endblock %}