<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>{% block title %}exofex{% endblock %}</title>
    {% block css %}
    {% endblock %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset("public/css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset ("public/css/modern-business.css") }}" rel="stylesheet">
    <!-- exofex CSS -->
    <link href="{{ asset ("public/css/exofex.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/sb-admin.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/adminExofex.css") }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <!--favicon-->
    <link rel="icon" type="image/png" href="{{ asset ("public/img/eoeGold.png") }}"/>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
{% block body %}
{% endblock %}
<script src="{{ asset ("public/js/jquery.js") }}"></script>
<script src="{{ asset ("public/js/bootstrap.min.js") }}"></script>
{#<script>#}
{#$('.carousel').carousel({#}
{#interval: 5000 //changes the speed#}
{#})#}
{#</script>#}
{% block js %}
{% endblock %}
</body>
</html>
