{% extends "WPExoBundle::layout.html.twig" %}
{% block css %}
    <link href="{{ asset("public/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/modern-business.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/exofex.css") }}" rel="stylesheet">
{% endblock %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}
{% block content %}
    <!-- Page Content -->
    <div class="container homePageContainer">
        <div id="homePage">
            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-md-10">
                    <h1 class="page-header welcome">
                        {{ home.title1 }}
                    </h1>
                    {#<h2 class="secondTitle">#}
                    {#Une solution libre d'échange de compétences#}
                    {#</h2>#}
                </div>

                <div class="col-md-5">
                    <div class="presentBox">
                        <div class="panel">
                            <div class="panelHead">
                                <h4><i class="fa fa-fw fa-check"></i>{{ home.titleArticle1 }}</h4>
                            </div>
                            <div class="panel-body">
                                <p>{{ home.textArticle1 }}</p>
                                <!--<a href="#" class="btn btn-default">Learn More</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="presentBox">
                        <div class="panel ">
                            <div class="panelHead">
                                <h4><i class="fa fa-fw fa-gift"></i>{{ home.titleArticle2 }}</h4>
                            </div>
                            <div class="panel-body">
                                <p>{{ home.textArticle2 }}</p>
                                <!--<a href="#" class="btn btn-default">Learn More</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10">
                    <div class="well">
                        <div class="row">
                            {#<div class="col-md-10">#}
                            <div class="col-md-8">
                                <p>{{ home.textContactme }}</p>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-lg btn-default btn-block" href="{{ path('wp_exo_contact') }}">Contactez
                                    nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Portfolio Section -->
            <div class="row">
                <div class="col-md-10">
                    {#<h2 class="page-header">eddsdfsdfsfs</h2>#}
                    {#</div>#}
                    <div class="col-md-6 col-sm-6">
                        <a href="{{ home.linkImg1 }}">
                            <img class="img-responsive img-portfolio img-hover" src="{{ asset(home.img1.webPath) }}"
                                 alt="">
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <a href="{{ home.linkImg2 }}">
                            <img class="img-responsive img-portfolio img-hover" src="{{ asset(home.img2.webPath) }}"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="presentBox">
                        <div class="col-md-6">
                            {#<div class="presentBox">#}
                            <div class="panel">

                                <div class="panel-body">
                                    <p>{{ home.textLogo }}</p>
                                </div>

                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-responsive eoe" src="{{ asset(home.logo.webPath) }}" width="360" height="360" alt=" ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#<hr>#}
{% endblock %}

{#<div class="col-lg-12 col-md-10">#}
    {#<h2 class="page-header">Modern Business Features</h2>#}
{#</div>#}

    {#<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
<!-- Indicators -->
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
        <div class="carousel-caption">
            <h2>Caption 1</h2>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
        <div class="carousel-caption">
            <h2>Caption 2</h2>
        </div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
        <div class="carousel-caption">
            <h2>Caption 3</h2>
        </div>
    </div>
</div>


<a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
</a>
</header>#}
