{% extends "WPExoBundle::layout.html.twig" %}
{% block css %}
    <link href="{{ asset("public/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/modern-business.css") }}" rel="stylesheet">
    <link href="{{ asset ("public/css/exofex.css") }}" rel="stylesheet">
{% endblock %}
{% block title %}
    Modifier une offre - {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="page-header">Modifier l'offre</h1>
                <ol class="breadcrumb">
                    <li><a href="{{ path ("wp_exo_homepage") }}">Home</a>
                    </li>
                    <li><a href="{{ path ("wp_exo_supply") }}">Offres</a>
                    </li>
                    <li><a href="{{ path ("wp_exo_supplyPost",{'id':supply.id}) }}">{{ supply.title }}</a>
                    </li>
                    <li class="active">Modifier l'offre</li>
                </ol>
            </div>
        </div>
        <div id="askingModif">
            {% form_theme form "bootstrap_3_layout.html.twig" %}
            <!--<div class="col-md-2"></div>-->
            <div class="row">
                <!--<div class="col-md text-center">-->
                <div class="col-md-8 col-xs-12">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}